.inputNumbers
    height: 30px
    width: 200px
    font-size: 15pt
.foo-button
    height: 40px
    widows: 60px
    border-radius: 10%
span
    margin: auto
p
    color: black
.allButtons
    display: flex
    flex-direction: column
    justify-content: center

.inputField
    display: flex
    justify-content: center
.firstLine, .secondLine, .thirdLine, .fourLine
    display: flex
    flex-direction: row
    justify-content: center
div
    margin: 4px
